/************************************************************************************
smaller than 960px
*************************************************************************************/
@media screen and (max-width: 960px) {
	header {
		position: relative;
		width: 92%;
		padding: 0% 4% 0 4%;	
	}
	h1 {
		font-size:2.333em;
		line-height: 1.2em;
	}
	h2 {
		margin: 30px 0 5px 0;
	}
	.wrapper {
		width: 92%;
		padding: 0% 4% 0 4%;
	}
	img {
		max-width: 100%;
		height: auto;
		width: auto\9; /* ie8 */
	}
	content, header {
		max-width: 92%;
		padding: 0% 4% 0 4%;
	}
	a#linktoset {
		display: none;
	}
	#intro {
		margin: 20px 0px;
	}
	content #iconset .set-preview, content #iconset .set-info {
		max-width: 100%;
	}
	div.three-cols {
		max-width: 100%;
	}
	/*content #spec ul li {
	  max-width: 100%;
	  float:left;
	  margin: 0 30px 0 0;
	}*/
	.logos {
    display: none;
  }
  .logos.mobile {
    display: block;
  }
  .logos.mobile .logo {
    max-width: 25%;
    margin-bottom: 2em;
  }
  .logos.mobile .logo img {
    max-width: 33%;
  }
  .logos.mobile .logo span {
    font-size: 1em;
  }
  #spec ul li:nth-child(2n+1) {
  	margin-right:30px;
  	clear:both; 
    }
   
  
  
  
}


/************************************************************************************
smaller than 800px
*************************************************************************************/
@media screen and (max-width: 800px) {

	div.three-cols {
		width: 100%;
		float: none;
	}

  
  
}




/************************************************************************************
smaller than 480px
*************************************************************************************/
@media screen and (max-width: 480px) {
	header {
		height: 6em;
		line-height: 2em;
	}
	h2 {
		font-size:1.467em;
	}
	#logo {
		float: none;
		text-align: center;
		width: 100%;
	}
	div.three-cols {
		width: 100%;
		float: none;
		text-align: center;
	}
	content #spec ul li {
		width: 100%;
		float: none;
		margin: 0px;
	}
	.logos.mobile .logo {
    		max-width: 50%;
  	}
  	h1 {font-size:1.667em;}
  	
  	#freestuff h2 {
  		text-align:center;
  	  }
  	
  	#freestuff img {
	  	display:none;
  	}
}