/* Opoloo Standard Style Sheet */
/*******************************/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block; }

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:hover,
a:active {
  outline: 0; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  /* Responsive images (ensure images don't scale beyond their parents) */
  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */
  width: auto\9;
  /* IE7-8 need help adjusting responsive images */
  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic; }

#map_canvas img,
.google-maps img {
  max-width: none; }

button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle; }

button,
input {
  *overflow: visible;
  line-height: normal; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer; }

input[type="search"] {
  -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

@media print {
  * {
    text-shadow: none !important;
    color: #000 !important;
    background: transparent !important;
    box-shadow: none !important; }

  a, a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
.span1 {
  width: 4.51389%; }

.span2 {
  width: 13.19444%; }

.span3 {
  width: 21.875%; }

.span4 {
  width: 30.55556%; }

.span5 {
  width: 39.23611%; }

.span6 {
  width: 47.91667%; }

.span7 {
  width: 56.59722%; }

.span8 {
  width: 65.27778%; }

.span9 {
  width: 73.95833%; }

.span10 {
  width: 82.63889%; }

.span11 {
  width: 91.31944%; }

.span12 {
  width: 100%; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.12s ease-in-out;
  -moz-transition: all 0.12s ease-in-out;
  -o-transition: all 0.12s ease-in-out;
  -ms-transition: all 0.12s ease-in-out;
  transition: all 0.12s ease-in-out; }

.container {
  padding-left: 0px;
  padding-right: 0px;
  width: 95%;
  max-width: 960px;
  margin: 0 auto; }

.row {
  margin-bottom: 10px;
  *zoom: 1; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

.col {
  margin-left: 4.16667%;
  float: left;
  min-height: 30px;
  position: relative;
  clear: none; }
  .col:first-child {
    margin-left: 0; }

.col + .col:last-child {
  float: right; }

.col + .col.end {
  float: left; }

* {
  padding: 0px;
  margin: 0px; }

.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    display: table;
    content: "";
    line-height: 0; }
  .clearfix:after {
    clear: both; }

a {
  text-decoration: none; }

ul li, ol li {
  list-style-type: none; }

h1, h2, h3, h4, h5, h6 {
  margin: 0px; }

#loading-indicator {
  text-align: center;
  z-index: 100;
  position: fixed;
  left: 45%;
  top: 50%;
  width: 200px;
  padding: 10px;
  background: #000;
  opacity: 0.8;
  color: #FFF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

#form_errors {
  text-align: center;
  z-index: 100;
  position: fixed;
  left: 45%;
  top: 50%;
  width: 600px;
  padding: 10px;
  background: #000;
  opacity: 0.8;
  color: #FFF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

/*
 * Web Fonts from fontspring.com
 *
 * All OpenType features and all extended glyphs have been removed.
 * Fully installable fonts can be purchased at http://www.fontspring.com
 *
 * The fonts included in this stylesheet are subject to the End User License you purchased
 * from Fontspring. The fonts are protected under domestic and international trademark and
 * copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
 * distributing this font software.
 *
 * (c) 2010-2012 Fontspring
 *
 *
 *
 *
 * The fonts included are copyrighted by the vendor listed below.
 *
 * Vendor:      exljbris Font Foundry
 * License URL: http://www.fontspring.com/fflicense/exljbris
 *
 *
 */
@font-face {
  font-family: 'Museo300Regular';
  src: url("../fonts/Museo300-Regular-webfont.eot");
  src: url("../fonts/Museo300-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Museo300-Regular-webfont.woff") format("woff"), url("../fonts/Museo300-Regular-webfont.ttf") format("truetype"), url("../fonts/Museo300-Regular-webfont.svg#Museo300Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Museo300Medium';
  src: url("../fonts/Museo500-Regular-webfont.eot");
  src: url("../fonts/Museo500-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Museo500-Regular-webfont.woff") format("woff"), url("../fonts/Museo500-Regular-webfont.ttf") format("truetype"), url("../fonts/Museo500-Regular-webfont.svg#Museo500-Regular-webfont") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'CabinRegular';
  src: url("../fonts/Cabin-Regular-webfont.eot");
  src: url("../fonts/Cabin-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Cabin-Regular-webfont.woff") format("woff"), url("../fonts/Cabin-Regular-webfont.ttf") format("truetype"), url("../fonts/Cabin-Regular-webfont.svg#Cabin-Regular-webfont") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'CabinMedium';
  src: url("../fonts/Cabin-Medium-webfont.eot");
  src: url("../fonts/Cabin-Medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Cabin-Medium-webfont.woff") format("woff"), url("../fonts/Cabin-Medium-webfont.ttf") format("truetype"), url("../fonts/Cabin-Medium-webfont.svg#Cabin-Medium-webfont") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'CabinItalic';
  src: url("../fonts/Cabin-Italic-webfont.eot");
  src: url("../fonts/Cabin-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Cabin-Italic-webfont.woff") format("woff"), url("../fonts/Cabin-Italic-webfont.ttf") format("truetype"), url("../fonts/Cabin-Italic-webfont.svg#Cabin-Italic-webfont") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'CabinBold';
  src: url("../fonts/Cabin-Bold-webfont.eot");
  src: url("../fonts/Cabin-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Cabin-Bold-webfont.woff") format("woff"), url("../fonts/Cabin-Bold-webfont.ttf") format("truetype"), url("../fonts/Cabin-Bold-webfont.svg#Cabin-Bold-webfont") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: 'CabinRegular';
  background: url("../images/bg_body.jpg") top center repeat;
  font-size: 16px;
  color: #494949;
  line-height: 1.6em;
  border-top: 3px solid #6e7fa1;
  letter-spacing: 0.01em; }

#meta {
  background: url("../images/bg_meta.jpg") top center repeat;
  height: 90px; }
  #meta #logo {
    float: left;
    padding: 16px 0 0 0; }
  #meta #nav {
    font-family: 'Museo300Regular';
    float: right;
    height: 90px;
    line-height: 90px; }
    #meta #nav ul
    li {
      float: left;
      font-size: 18px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #e6f0f5; }
      #meta #nav ul
      li a {
        color: #a7b3cb;
        margin: 0 10px; }
      #meta #nav ul
      li a:hover {
        color: #e6f0f5; }
      #meta #nav ul
      li a.active {
        color: #fff; }

#header {
  font-family: 'Museo300Regular';
  color: #fff;
  /*height:500px; */
  font-size: 65px;
  /* padding:300px 0 0 0;*/ }
  #header p {
    font-size: 23px;
    text-transform: uppercase;
    font-family: 'CabinRegular';
    margin: 30px 0 0 0; }
  #header #slideheader {
    height: 500px;
    position: relative; }
    #header #slideheader ul.slides li {
      display: block;
      float: left;
      height: 500px;
      max-height: 500px;
      width: 100%;
      text-align: center;
      padding: 300px 0 0 0; }
    #header #slideheader .s1 {
      background: url("../images/bg_header.jpg") top center no-repeat; }
    #header #slideheader .s2 {
      background: url("../images/bg_header.jpg") top center no-repeat; }
    #header #slideheader .s3 {
      background: url("../images/bg_header.jpg") top center no-repeat; }
  #header ul.flex-direction-nav {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    display: block;
    height: 500px; }
    #header ul.flex-direction-nav li a {
      position: absolute;
      display: inline-block;
      top: 50%; }
    #header ul.flex-direction-nav li a.flex-next {
      right: 0px; }

.bg-dunkel a, .bg-hell a, iframe a {
  color: #DF993D;
  border-bottom: 1px solid #ccc; }

.container strong {
  font-family: 'CabinBold';
  font-weight: normal; }
.container h1 {
  font-family: 'Museo300Regular';
  font-size: 46px;
  line-height: 46px;
  font-weight: normal;
  color: #a6a6a6;
  margin: 0 0 10px 0; }
.container h1.margin {
  margin: 60px 0 10px 0px; }
.container h2 {
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #333;
  font-size: 22px;
  margin: 20px 0px 15px 0px; }
.container h2.erstkontakt {
  background: url("../images/ic_erstkontakt.png") 0px 0px no-repeat;
  padding: 2px 0 2px 40px; }
.container h2.aufmass {
  background: url("../images/ic_aufmass.png") 0px 0px no-repeat;
  padding: 2px 0 2px 40px; }
.container h2.entwurf {
  background: url("../images/ic_entwurf.png") 0px 0px no-repeat;
  padding: 2px 0 2px 40px; }
.container h3 {
  font-family: 'Museo300Medium';
  font-weight: normal;
  font-size: 16px;
  margin: 0 0 6px 0;
  color: #333; }
.container h3.check {
  background: url("../images/ic_check.png") 0px 2px no-repeat;
  padding: 0 0 0 33px; }
.container .teaser {
  font-size: 20px;
  margin: 0 0 5px 0; }
.container img.border {
  border: 2px solid #fff; }
.container .intro {
  font-size: 20px;
  font-family: 'CabinMedium';
  line-height: 30px;
  color: #494949;
  margin: 20px 0 20px 0;
  padding: 0 80px 0 0; }
.container .float-left {
  float: left; }
.container .center {
  width: 100%;
  text-align: center; }
.container label {
  display: block;
  text-transform: uppercase;
  font-size: 13px; }
.container input {
  margin: 2px 0px 15px 0px;
  border: none;
  padding: 9px;
  width: 270px;
  font-size: 16px;
  color: #494949;
  border: 1px solid #ccc; }
.container textarea {
  margin: 2px 0px 15px 0px;
  border: none;
  padding: 9px;
  width: 270px;
  font-size: 16px;
  color: #494949;
  font-family: 'CabinRegular';
  border: 1px solid #ccc; }
.container a:hover {
  color: #cd892f; }
.container span.label {
  text-transform: uppercase;
  font-size: 13px; }
.container img.margin {
  margin: 10px;
  text-decoration: none; }
.container .noborder a {
  border-bottom: none;
  text-decoration: none; }

.bg-hell, .bg-dunkel {
  padding: 60px 0px;
  border-bottom: 3px solid #fff; }

.bg-dunkel {
  background: url("../images/bg_grain_grey.jpg") top center repeat; }

.bg-hell.inspiration {
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  line-height: 30px;
  font-size: 20px;
  color: #fff;
  padding: 200px 0px; }
  .bg-hell.inspiration h1 {
    color: #fff; }

.bg-hell.inspiration.garten {
  background: url("../images/bg_gartenbad.jpg") top center no-repeat; }

.bg-hell.inspiration.halle {
  background: url("../images/bg_hallenbad.jpg") top center no-repeat; }

.bg-hell.inspiration.hotel {
  background: url("../images/bg_hotelbad.jpg") top center no-repeat; }

a.button-orange, button.submit {
  font-family: 'Museo300Regular';
  background: url("../images/ic_arrow_right.png") 12px 13px no-repeat #df993d;
  color: #fff;
  font-size: 20px;
  letter-spacing: 0.05em;
  padding: 12px 20px 12px 43px;
  display: inline-block;
  margin: 40px 0 0 0;
  text-transform: uppercase;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  border: none; }
  a.button-orange:hover, button.submit:hover {
    background-color: #db8d27;
    color: #fff; }

button.submit {
  margin: 10px 0 0 0; }

#footer {
  padding: 70px 0 0 0;
  background: url("../images/bg_footer.jpg") top center repeat;
  font-size: 18px;
  color: #909cb7;
  letter-spacing: 0.03em;
  line-height: 30px; }
  #footer a {
    color: #df993d; }
  #footer a:hover {
    color: #b2721d; }
  #footer .nummer {
    color: #6ac1e5;
    font-size: 44px;
    line-height: 48px;
    margin: 10px 0 20px 0;
    letter-spacing: 0.05em; }
  #footer #telefon {
    background: url("../images/ic_telefon.png") top left no-repeat;
    padding: 0 0 0 100px; }
  #footer #location {
    background: url("../images/ic_adresse.png") top left no-repeat;
    padding: 0 0 0 100px;
    font-size: 20px;
    line-height: 30px; }
  #footer #imprint {
    font-size: 12px;
    text-transform: uppercase;
    margin: 40px 0 0 0; }
  #footer input {
    margin: 15px 0px;
    border: none;
    padding: 9px;
    width: 300px;
    font-size: 16px;
    color: #494949; }
  #footer h3 {
    font-family: 'Museo300Medium';
    font-weight: normal;
    font-size: 25px;
    margin: 0 0 10px 0;
    color: #909cb7; }

#totop {
  margin: 70px 0 0 0;
  background-color: #091835;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: center;
  padding: 15px 0; }
  #totop a {
    color: #6ac1e5;
    display: block;
    width: 100%; }
  #totop:hover {
    background-color: #08142c; }

hr {
  height: 1px;
  font-size: 0;
  background: #fff;
  margin: 40px 0px;
  border: none; }

.margin-top {
  margin-top: 50px; }

#slideheader, #slideheader * {
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: color 0 ease-in;
  transition: none; }

.wrapper {
  width: 960px;
  /*margin: 40px auto;
  padding: 50px;*/
  margin: 0px auto; }

.list_carousel {
  /*margin: 0 0 30px 60px;*/
  /*width: 800px;*/ }

.list_carousel ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
  width: 960px; }

.list_carousel li {
  text-align: center;
  padding: 0;
  /*margin: 6px;*/
  display: block;
  float: left; }

.list_carousel.responsive {
  width: auto;
  margin-left: 0; }

.clearfix {
  float: none;
  clear: both; }

.prev {
  float: left;
  margin-left: 10px; }

.next {
  float: right;
  margin-right: 10px; }

.pager {
  float: left;
  width: 300px;
  text-align: center; }

.pager a {
  margin: 0 5px;
  text-decoration: none; }

.pager a.selected {
  text-decoration: underline; }
