/*-----------ALLGEMEIN-------------*/

@import url(//fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif:400,700);

* {
	margin:0px;
	padding:0px;
}

body {
	width: 100%;
	font-family: 'Droid Sans', Arial, Verdana;
	font-size:16px;
	line-height:24px;
	padding:0px 0px 40px 0px;
}

#container {
	margin: 0 auto;
	text-align:center;
	color:#999;
	font-size:18px;
}

img {
	margin:50px auto 20px auto;
	display: block;
	width: 100%;
	max-width: 800px;
}

h1 {
	font-size:28px;
	font-weight: 700;
	margin:30px 0px 20px 0px;
	color:#999;
	line-height: 40px;
}

a, a:link, a:visited, a:active {
	text-decoration:none;
	color:#999;
	font-size:14px;
	border-bottom: 1px solid #ccc;
}

a:hover {
	color:#333;
}

p {
	margin:0px 0px 20px 0px;
}

