/*
 * Phone Portrait
 */
@media screen and (max-width: 384px) {
  .preview-box {
    .glyphs {
      .grid {
        [class*='col-'] {
          float: none;
          max-width: 100%;
          padding: 20px;
          &+[class*='col-'] {
            margin-left: 0;
          }
        }
      }
    }
  }
  .wrapper {
    .content {
      padding: 20px;
    }
  }
  footer {
    padding: 20px;
    .row {
      .left, .right {
        float: none;
        width: 100%;
        text-align: left;
      }
    }
  }
}